

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.b{
    background-image: linear-gradient(to bottom right,pink,blue, red, yellow,green);
    height:100% ;
    width: 100%;
   
}

.row {
    width: 100%;
}

.row::after {
    content: '';
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

/*for mobile phone*/
[class*="col-"] {
    width: 100%;
}


#menu-section {
    padding: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: aqua;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left:8% ;
    margin-right: 8%;
}
.card-body {
    text-align: center;
}
.card-body img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 4px;
    
    
}
img:hover{
    animation: rotation 2s  linear;
    animation-delay: 4;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
.item-desc {
    background: yellowgreen;
    color: tomato;
    border-radius: 5px;
   
    
}
.item-name {
    background: green;
    color: blue;
    padding: 10px;
}
.item-desc>p {
    font-size: 0.8rem;
    padding: 10px;
    font-weight: bold;
    border-radius: 45%;
    animation: rotat 4s 4 linear;
  
}


@keyframes rotat {
    from {
      transform: rotate(0deg);
      background-color: chartreuse;
    }
    to {
      transform: rotate(180deg);
      background-color: crimson;
    }
    to {
        transform: rotate(359deg);
        background-color: cyan;
      }
  }
.card{
    transition: .6s;
}
.card:hover{
    transform: scale(1.5);
}







@media (min-width: 576px) {

    .col-sm-1 {
        width: 8.33%;
    }

    .col-sm-2 {
        width: 16.66%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.33%;
    }

    .col-sm-5 {
        width: 41.66%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.33%;
    }

    .col-sm-8 {
        width: 66.66%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.33%;
    }

    .col-sm-11 {
        width: 91.66%;
    }

    .col-sm-12 {
        width: 100%;
    }



}


@media (min-width: 768px) {

    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.66%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.66%;
    }

    .col-md-12 {
        width: 100%;
    }


    .topnav .icon {
        display: none;
    }

    .topnav a {
        display: inline-block;
    }

}



@media only screen and (min-width: 992px) {


    /* Large screen column width */
    .col-lg-1 {
        width: 8.33%;
    }

    .col-lg-2 {
        width: 16.66%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: 33.33%;
    }

    .col-lg-5 {
        width: 41.66%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 58.33%;
    }

    .col-lg-8 {
        width: 66.66%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-10 {
        width: 83.33%;
    }

    .col-lg-11 {
        width: 91.66%;
    }

    .col-lg-12 {
        width: 100%;
    }

    
    
